﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coding Challenge</title>
        <meta charset="utf-8" />        
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/content/css/main-bundle.css")        
        @RenderSection("link", false)
    </head>
    <body>
        @RenderBody()    
        @Scripts.Render("~/content/js/main-bundle.js")
        @RenderSection("scripts", required: false)        
    </body>
</html>
