﻿html, body, div
{
    color:#665;
}

html {
	overflow:hidden;
}
			
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
}
			
#map {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

h1, h2, h3, h4, h5, h6
{
    font-family:Verdana, Georgia, 'Trebuchet MS', Arial;
}

.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


#widgets{
    background-color: #000f1a;
    background-color: rgba(0,15,26,0.85);
    z-index:100;
    position:absolute;
    bottom:0;
    top:0;
}

#widgets > ul.widgets-nav
{
    list-style:none;
    margin: 20px 0 0;
    padding:0;
    width:80px;
}

#widgets > ul.widgets-nav li
{
    margin:0;
    padding:0;
}

#widgets > .widgets-nav a:hover,
#widgets .widgets-nav .active{
    background:#25313B;
    background-color: rgba(0,15,26,0.90);
}

#widgets > ul.widgets-nav li a
{
    display:block;    
    text-align:center;
    padding:10px;
}


#widgets > .widgets-nav .glyphicon
{
    font-size:32px;
    color:#ccc;
}

#widgets-views
{
    /*background:#25313B;
    background-color: rgba(0,15,26,0.90);*/
    background:#f5f5f5;
    position:absolute;
    left:80px;
    top:0;
    bottom:0;
    width:40%;
    display:none;
    padding:12px;
}

#search
{
    display:none;
    position:relative;
    height:100%;
}

#search .route-waypoint-list-container
{
    position:absolute;
    top:82px;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;    
}

#search .search-result-list
{
    position:absolute;
    right:0;
    left:0;
    top:34px;
    z-index:10;
    height:auto;
    overflow:auto;
    display:none;
    
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

#search .list-group-item
{
    font-weight:bold;
}

#search .list-group-item .glyphicon
{
    color:#ccc;
}

#search .search-result-list .list-group-item
{
    /*opacity:0.65;    
    /*color:#fff;*/
    background:#f5f5f5;
}

#search .search-result-list .list-group-item:hover .glyphicon
{
    color:#665;    
}


#search .search-result-list .list-group-item .title,
#search .route-waypoint-list .list-group-item .title
{
    display:block;
}

#search .search-result-list .list-group-item .desc,
#search .route-waypoint-list .list-group-item .desc
{
    font-weight:normal;
}

#search .route-mode-list
{
    margin:5px auto;
    display:none;
}



@media screen and (max-width: 560px) 
{
    #widgets-views
    {
        width:auto;
        right:0;
    }    
}