﻿<div id="map"></div>
<div id="widgets">       
    <ul class="widgets-nav">
        <li>
            <a href="#search">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </li>
    </ul>
</div>

<div id="widgets-views">
    <div id="search">
        <div class="input-group input-group">            
            <input type="text" class="form-control search-query-input" placeholder="Search for an address or a place of interest" />
            <span class="input-group-addon btn-search-query">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
        <div class="btn-group route-mode-list pull-right"></div>
        <div class="list-group search-result-list"></div>
        <div class="route-waypoint-list-container">
            <div class="list-group route-waypoint-list"></div>
        </div>                
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="http://js.cit.api.here.com/se/2.5.3/jsl.js?with=all"></script>
    
    <script id="search-place-result-tmpl" type="text/x-jquery-tmpl">
        <a href="#" class="list-group-item">
            <span class="title">${title}</span>
            <span class="desc">${desc}</span>
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
    </script>
    <script id="route-waypoint-tmpl" type="text/x-jquery-tmpl">
        <a href="#" class="list-group-item">
            <span class="title">${title}</span>
            <span class="desc">${desc}</span>
            <span class="glyphicon glyphicon-remove btn-remove-waypoint pull-right"></span>
        </a>
    </script>
    <script id="route-mode-item-tmpl" type="text/x-jquery-tmpl">
          <button type="button" class="btn btn-default btn-route-mode">
                <img src="${icon}" alt="${title}" style="height:20px" />
          </button>
    </script>
}